<footer class="page-footer bg-dark">
   
<div class="bg-grey">
    <div class="container">
        <div class="row py-3 d-flex space-beetwin">
            


            <div class="col-md-12 d-flex justify-content-around text-center">
                
                
                <a href="https://twitter.com/?lang=fr" target="_blank"><span class="fab fa-twitter"> </span> </a>
                <a href="https://fr-fr.facebook.com/" target="_blank"><span class="fab fa-facebook"> </span> </a>
                <a href="https://www.instagram.com/?hl=fr" target="_blank"><span class="fab fa-instagram"> </span> </a>
              
            </div>
        </div>
    </div>

</div>


<div class="container text-center text-md-left mt-5">
    <div class="row">
        <div class=" col-md-3 mx-auto mb-4 ">
            <h6 class="text-uppercase font-weight-bold">Coucou</h6>
            <hr class="bg-success mb-4 mt-0 d-inline-block mx-auto" style="width: 125px; height: 2px">
            <p class="contact">Liens utiles :</p>
            <li class="d-flex row">
            <a href="" target="_blank"> Home </a>
            <a href="" target="_blank"> Travel-list </a>
          
        </li>
        </div>

        <div class=" col-md-3 mx-auto mb-4">
            <h6 class="text-uppercase font-weight-bold">Coucou</h6>
            <hr class="bg-success mb-4 mt-0 d-inline-block mx-auto" style="width: 125px; height: 2px">
            
            <ul class="list-unstyled d-flex row">
                <p class="contact">nous contacter</p>
             
                <a href="" target="_blank"> <span class="fas fa-envelope"> </span> </a>
                <a href=""> <span class="fas fa-mobile-alt"> </span></a>
              
            </ul>
        </div>






    </div>
</div>



</footer>