<footer class="page-footer bg-dark">
   
<div class="bg-grey">
    <div class="container">
        <div class="row py-3 d-flex space-beetwin">
            


            <div class="col-md-12 d-flex justify-content-around text-center">
                
                
                <a href="https://twitter.com/?lang=fr" target="_blank"><span class="fab fa-twitter"> </span> </a>
                <a href="https://fr-fr.facebook.com/" target="_blank"><span class="fab fa-facebook"> </span> </a>
                <a href="https://www.instagram.com/?hl=fr" target="_blank"><span class="fab fa-instagram"> </span> </a>
              
            </div>
        </div>
    </div>

</div>


<div class="container text-center text-md-left mt-5">
    <div class="row">
        <div class=" col-md-3 mx-auto mb-4 ">
            <h6 class="text-uppercase font-weight-bold"></h6>
            <hr class="bg-success mb-4 mt-0 d-inline-block mx-auto" style="width: 125px; height: 2px">
            <p class="contact">Liens utiles :</p>
            <li class="d-flex row">
            <a id="router" [routerLink]="['/home']"> Home </a>
            <a id="router" [routerLink]="['/travel-list']"> Travel-list </a>
            <a id="router" [routerLink]="['/contact']"> Contact </a>
          
        </li>
        </div>

        <div class=" col-md-3 mx-auto mb-4">
            <h6 class="text-uppercase font-weight-bold"></h6>
            <hr class="bg-success mb-4 mt-0 d-inline-block mx-auto" style="width: 125px; height: 2px">
            
            <ul class="list-unstyled d-flex row">
                <p class="contact">Nous contacter</p>
             
                <a  class="fas fa-envelope fs-1 text-decoration-underline h-25" (click)=itemClicked()> <span > 
                    <div [hidden]= "toggoleShowHide">
                        <p dir="auto" class="fs-6 text-decoration-underline">
                          ofcourse@gmail.com
                        </p>
                      </div>
                </span> </a>
                <a href=""> <span class="fas fa-mobile-alt"> </span></a>
              
            </ul>
            
        </div>



       




<p><i>&copy;Copyright 2021 - by OfCourse</i></p>



    </div>
</div>



</footer>
<!-- To Do
icone lettre + tel cliquable pour afficher le num et l'adresse mail  -->
