<div
  (click)="goToList()"
  style="cursor: pointer"
  [id]="card.title"
  class="carousel slide"
  data-bs-ride="carousel"
>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img [src]="card.images[0]" class="d-block w-100" [alt]="card.title" />
      <div class="carousel-caption d-none d-md-block">
        <h5>{{ card.title }}</h5>
        <p>{{ card.descs[0] }}</p>
      </div>
    </div>
    <div class="carousel-item">
      <img [src]="card.images[1]" class="d-block w-100" [alt]="card.title" />
      <div class="carousel-caption d-none d-md-block">
        <h5>{{ card.title }}</h5>
        <p>{{ card.descs[1] }}</p>
      </div>
    </div>
    <div class="carousel-item">
      <img [src]="card.images[2]" class="d-block w-100" [alt]="card.title" />
      <div class="carousel-caption d-none d-md-block">
        <h5>{{ card.title }}</h5>
        <p>{{ card.descs[2] }}</p>
      </div>
    </div>
  </div>
</div>
