<header id="nav">
  <div id="logo">
    <div id="bou4">
      <marquee
        frameborder="10"
        behavior="scroll"
        direction="right"
        width="100%"
        scrollamount="2 "
      >
        <img
          src="../assets/nuage1.png"
          id="nuage4"
          alt="nuage of crouse"
          height="50"
          width="100"
        />
      </marquee>
    </div>

    <div id="bou3">
      <marquee
        frameborder="10"
        behavior="scroll"
        direction="left"
        width="100%"
        scrollamount="2 "
      >
        <img
          src="../assets/nuage.png"
          id="nuage3"
          alt="nuage of crouse"
          height="50"
          width="100"
        />
      </marquee>
    </div>

    <div id="avions">
      <marquee
        frameborder="10"
        behavior="scroll"
        direction="left"
        width="100%"
        scrollamount="15 "
      >
        <img
          src="../assets/avion.png"
          id="avion"
          alt="nuage of crouse"
          height="140"
          width="180"
        />
      </marquee>
    </div>

    <div id="bou2">
      <marquee
        frameborder="10"
        behavior="scroll"
        direction="left"
        width="100%"
        scrollamount="4 "
      >
        <img
          src="../assets/nuage1.png"
          id="nuage2"
          alt="nuage of crouse"
          height="50"
          width="100"
        />
      </marquee>
    </div>

    <div id="bou">
      <marquee
        frameborder="10"
        behavior="scroll"
        direction="right"
        width="100%"
        scrollamount="3 "
      >
        <img
          src="../assets/nuage1.png"
          id="nuage1"
          alt="nuage of crouse"
          height="50"
          width="100"
        />
      </marquee>
    </div>
  </div>

  <div id="btn">
    <nav>
      <ul>
        <li>
          <a [routerLink]="['/home']">home</a>
          <span></span><span></span><span></span><span></span>
        </li>
        <li>
          <a [routerLink]="['/travel-list']">travel-lisT</a>
          <span></span><span></span><span></span><span></span>
        </li>
        <li>
          <a [routerLink]="['/contact']">contact</a>
          <span></span><span></span><span></span><span></span>
        </li>
        <li>
          <a *ngIf="!userConnected" [routerLink]="['/modalconnexion']"
            >SIGN UP</a
          >
          <a *ngIf="userConnected" [routerLink]="['/profil']">PROFILE</a>
        </li>
        <div id="search">
          <label for="site-search"></label>
          <input
            type="search"
            id="site-search"
            name="q"
            aria-label="Search through site content"
          />
          <button>✈️</button>
        </div>
      </ul>
    </nav>
  </div>
</header>
