<header id="nav">
  <div id="logo">
    <div id="bou4">
      <marquee
        frameborder="10"
        behavior="scroll"
        direction="right"
        width="100%"
        scrollamount="2 "
      >
        <img
          [src]="Logo.nuageUn"
          id="nuage4"
          alt="nuage animé"
          height="50"
          width="100"
        />
      </marquee>
    </div>

    <div id="bou3">
      <marquee
        frameborder="10"
        behavior="scroll"
        direction="left"
        width="100%"
        scrollamount="2 "
      >
        <img
          [src]="Logo.nuage"
          id="nuage3"
          alt="nuage animé"
          height="50"
          width="100"
        />
      </marquee>
    </div>

    <div id="avions">
      <marquee
        frameborder="10"
        behavior="scroll"
        direction="left"
        width="100%"
        scrollamount="15 "
      >
        <img
          [src]="Logo.avion"
          id="avion"
          alt="avion animé"
          height="140"
          width="180"
        />
      </marquee>
    </div>

    <div id="bou2">
      <marquee
        frameborder="10"
        behavior="scroll"
        direction="left"
        width="100%"
        scrollamount="4 "
      >
        <img
          [src]="Logo.nuageUn"
          id="nuage2"
          alt="nuage animé"
          height="50"
          width="100"
        />
      </marquee>
    </div>

    <div id="bou">
      <marquee
        frameborder="10"
        behavior="scroll"
        direction="right"
        width="100%"
        scrollamount="3 "
      >
        <img
          [src]="Logo.nuageUn"
          id="nuage1"
          alt="nuage animé"
          height="50"
          width="100"
        />
      </marquee>
    </div>
  </div>

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary w-100">
    <div class="container-fluid">
      <a class="navbar-brand" [routerLink]="['/home']">OfCourse</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- LINKS -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/home']">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/continents-list']"
              >Continents</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/travel-list']">Travels</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/contact']">Contact</a>
          </li>
          <li class="nav-item">
            <a
              *ngIf="!connectUtils.isConnected"
              class="nav-link"
              [routerLink]="['/modalconnexion']"
              >Sign in</a
            >
            <a
              *ngIf="connectUtils.isConnected"
              class="nav-link"
              [routerLink]="['/profil']"
              >Profile</a
            >
          </li>
          <li
            style="margin-left: 5em; cursor: pointer"
            [routerLink]="['/cards']"
            class="nav-item"
            *ngIf="connectUtils.isConnected"
          >
            <i style="color: white; font-size: 24px" class="bi bi-cart4"></i>
          </li>
        </ul>

        <!-- SEARCHBAR -->
        <form class="d-flex">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <button style="color: white" class="btn btn-primary" type="submit">
            Search
          </button>
        </form>
      </div>
    </div>
  </nav>
</header>
