<header id="nav">

<div id="logo">

</div>







   <div id="btn">
   <nav>
<ul>
    <li>
    <a [routerLink]="['/home']">home</a>
    <span></span><span></span><span></span><span></span>
   </li>
    <li>
    <a [routerLink]="['/travel-list']">travel-list</a>
    <span></span><span></span><span></span><span></span>
    </li>
    <li>
    <a [routerLink]="['/contact']">contact</a>
    <span></span><span></span><span></span><span></span>
     </li>

  <div id="search">
<label for="site-search"></label>
<input type="search" id="site-search" name="q"
       aria-label="Search through site content">
<button>✈️</button>
</div>

   
   </ul>
</nav>
 </div>
</header>