#bckground {
  background-image: url("../../assets/boardwalk-569314-min.jpg");
  background-size: cover;
}
form {
  /* width: 40vw; */
  text-align: center;
  /*background-color: rgb(63, 62, 62);*/
  /*background: linear-gradient(#3b3b3b, rgb(93, 92, 92));*/
  background-color: rgba(0, 0, 0, 0.5);
}

label {
  color: rgb(194, 194, 197);
}
span {
  color: rgb(204, 16, 16);
}
a {
  color: white;
}
