form {
  width: 100vw;
  text-align: center;
  background-image: url("/assets/backgroundContact.jpg");
  background-size: cover;
}
input {
  width: 25%;
}
textarea {
  width: 25%;
}
label {
  color: rgb(36, 36, 37);
}
span {
  color: red;
}
a {
  color: white;
}
