<form (ngSubmit)="onSubmit()" #form="ngForm">

    <h3>Travel</h3>
    <div class="input-group w-50">
        <span class="input-group-text">Go from ... to ...</span>
        <input type="text" class="form-control" placeholder="From..." >
        <input type="text" class="form-control" placeholder="To..." >
    </div>
    <select class="form-select w-50">
        <option selected>Filter by state</option>
        <option value="france">France</option>
        <option value="spain">Spain</option>
        <option value="italia">Italia</option>
    </select>
    <div class="input-group w-50">
        <span class="input-group-text">Travel Dates</span>
        <mat-date-range-input class="form-control" [rangePicker]="travelDates">
            <input matStartDate placeholder="Start date">
            <input matEndDate placeholder="End date">
        </mat-date-range-input>
        <mat-datepicker-toggle [for]="travelDates" matSuffix ></mat-datepicker-toggle>
        <mat-date-range-picker #travelDates></mat-date-range-picker>
    </div>

    <h3>Flight</h3>
    <div class="form-check form-switch w-50">
        <input class="form-check-input" type="checkbox" id="flightType" [checked]="flightRound" (change)="flightRound = !flightRound" >
        <label class="form-check-label" for="flightType">Round trip</label>
    </div>
    <!-- DATE ALLER SIMPLE -->
    <div *ngIf="!flightRound" class="input-group w-50">
        <span class="input-group-text">Flight Date</span>
        <input matInput class="form-control" [matDatepicker]="simpleFlightDate">
        <mat-datepicker-toggle [for]="simpleFlightDate" matSuffix ></mat-datepicker-toggle>
        <mat-datepicker #simpleFlightDate></mat-datepicker>
    </div>
    <!-- DATE ALLER RETOUR -->
    <div *ngIf="flightRound" class="input-group w-50">
        <span class="input-group-text">Flight Dates</span>
        <mat-date-range-input class="form-control" [rangePicker]="doubleFlightDates">
            <input matStartDate placeholder="Start date" matDatepicker="{{simpleFlightDate}}">
            <input matEndDate placeholder="End date">
        </mat-date-range-input>
        <mat-datepicker-toggle [for]="doubleFlightDates" matSuffix ></mat-datepicker-toggle>
        <mat-date-range-picker #doubleFlightDates></mat-date-range-picker>
    </div>

    <button type="submit" class="btn btn-primary w-50">
        Search
    </button>

</form>