form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 0px 0px 10px black;
  padding-bottom: 1em;
}
h3 {
  margin-top: 1em;
}
button {
  margin-top: 1em;
}
.input-group,
.form-select {
  margin-bottom: 1em;
}
.centerList {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.cardList {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
