<div class="header">
  <div id="carouselHome" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="{{ image[0] }}"
          class="d-block w-100"
          style="height: 60vh"
          alt="asie"
        />
      </div>

      <div class="carousel-item">
        <img
          src="{{ image[1] }}"
          class="d-block w-100"
          style="height: 60vh"
          alt="chine"
        />
      </div>
      <div class="carousel-item">
        <img
          src="{{ image[2] }}"
          class="d-block w-100"
          style="height: 60vh"
          alt="lake"
        />
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselHome"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselHome"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="headerTextHome">
    <h1>
      Looking for a travel ?
      <img src="../assets/logo_small.png" alt="logo of crouse" /> we have.
    </h1>
  </div>
</div>
<div class="about">
  <h1>Our team:</h1>
  <div class="team">
    <div *ngFor="let dev of team" class="person">
      <img src="{{ dev.image }}" alt="profile squad" />
      <h3>{{ dev.name }}</h3>
    </div>
  </div>
</div>
